<app-navbar></app-navbar>

<div class="text-center mt-3">
    <h1>Monitor de RAM</h1>
</div>

<div class="mx-auto mb-3 mt-5" style="max-width: 800px;">

    <ngx-charts-line-chart
    [view]="view"
    scheme="forest"
    [legend]="legend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [timeline]="timeline"
    [results]="data"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
    >
    </ngx-charts-line-chart>
    <div class="text-center mt-0">
        <h3 class="text-secondary">Memoria total: {{totalram}} MB </h3>
        <h3 class="text-secondary">Memoria utilizada: {{en_uso}} MB </h3>
        <h3 class="text-secondary">Memoria: {{porcentaje}}% </h3>
    </div>
    
</div>