<div class="mx-auto mb-3 mt-5" style="max-width: 800px;">
    <div class="card">
        <div class="row g-0">
            <div class="card-header">
                <h3 class="text-center">Información del Sistema</h3>
              </div>
        <div class="col-md-4">
            <img src="assets/images/monitor.svg" class="img-fluid rounded-start mb-3" width="400" height="300">
        </div>
        <div class="col-md-8">
            <div class="card-body">
            <p class="card-text">Procesos en ejecucion: 0</p>
            <p class="card-text">Procesos suspendidos: 0</p>
            <p class="card-text">Procesos detenidos: 0</p>
            <p class="card-text">Procesos zombie: 0</p>
            <p class="card-text">Total de procesos: 0</p>
            <p class="card-text"><small class="text-muted">Datos actualizados</small></p>
            </div>
        </div>
        </div>
    </div>
  </div>

<div class="text-center">
    <h3>Procesos en ejecución</h3>
</div>