<div class="mx-auto mb-3 mt-5" style="max-width: 800px;">
    <div class="card">
        <div class="row g-0">
            <div class="card-header">
                <h1 class="text-center">Información del Sistema</h1>
              </div>
        <div class="col-md-4 ms-5 text-center">
            <img src="assets/images/monitor.svg" class="img-fluid rounded-start mb-3" width="400" height="300">
        </div>
        <div class="col-md-7 text-center">
            <div class="card-body">
                <p class="card-text">Procesos en ejecucion: {{ejecucion}} </p>
                <p class="card-text">Procesos detenidos: {{detenidos}} </p>
                <p class="card-text">Procesos suspendidos: {{suspendidos}} </p>
                <p class="card-text">Procesos ininterrumpido: {{ininterrumpido}} </p>
                <p class="card-text">Procesos zombie: {{zombie}}</p>
                <p class="card-text">Procesos desconocidos: {{desconocido}}</p>
                <p class="card-text">Total de procesos: {{total}} </p>
                <p class="card-text"><small class="text-muted">Datos actualizados</small></p>
            </div>
        </div>
        </div>
    </div>
  </div>

<div class="text-center mt-4">
    <button (click)="changeView()" class="btn btn-outline-success" type="submit">Visualizar arbol/procesos</button>
</div>

<!-- LISTADO DE PROCESOS -->
<div class="mx-auto col-8 mt-3" *ngIf="showLista">
    <h2 class="text-center">Lista de procesos en ejecución</h2>
    <mat-nav-list>
        <app-proceso *ngFor="let proc of listaProcesos" [proceso]="proc"></app-proceso>
    </mat-nav-list>
    
    <!-- app-proceso *ngFor="let proc of listaProcesos" [proceso]="proc"></app-proceso> -->
</div>

<!-- ARBOL DE PROCESOS -->
<div class="mx-auto col-8 mt-3" *ngIf="showArbol">
    <app-arbol></app-arbol>
</div>